<!DOCTYPE html>
<html>
  <head>
    <title>TwitterPra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
  	<% end %>

 <header>

  <div class="actions">
    <a href="/">HOME</a>
  </div>

   <div>
     <% if user_signed_in? %>
     <div id = "userDetails">
        <%= link_to 'All Users', {controller: "home", action: "users"}%>
        <%= link_to 'Followers', {controller: "home", action: "followers"}%>
        <%= link_to 'Following', {controller: "home", action: "followees"}%>
      </div>
      <div id = "userDetails">
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
 
        <%= current_user.email %>
      </div>
     <% end %>
   </div>
 </header>

  <section id="mainSection">
    <aside id="mainAside"></aside>
    <main id="mainMain"><%= yield %></main>
  </section>

  <footer></footer>
  </body>
</html>
